nav{
    display:flex;
    box-shadow: 0px 1px 7px 1px rgba(107,107,107,0.87);
}
ul{
    display:none;
}
body{
    margin: 0px;
    font-family: sans-serif;
    color: gray;
}
.logo{
    width: 50px;
    position: relative;
    top: 5px;
}
img{
    width: 100%;
    border-radius: 50%;
}
input{
    box-shadow: 0px 1px 7px 1px rgba(107,107,107,0.87);
    width: 100%;
    padding-left: 50px;
    border-radius: 5px;
}
.search{
    width: 300px;
    display: flex;
    padding: 10px;
    position: relative;
}
.icon{
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
}
@media (min-width: 950px){
    ul{
        display: flex;  
        list-style: none;
        justify-content: flex-end;
        flex-grow: 1;
        align-items: center;
        padding-right: 10px;
    }
    li{
        padding: 0 10px;
    }

}
.profile{
    width: 30px;
    border-radius: 50%;
}
